<!-- Topbar Start -->
<div class="navbar-custom">
  
  <ul class="list-unstyled topnav-menu float-right mb-0">

    


    <li class="dropdown notification-list" ngbDropdown>
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
        ngbDropdownToggle id="profileDropdown" href="javascript: void(0);"
        role="button" aria-haspopup="false" aria-expanded="false">
        <!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANcAAACFCAMAAAD/5Z17AAAAMFBMVEV1B4fkAwP/jAD/7QAATf8AgCb7fQH/jgD/zAD/8QClvBoAeCcAggYAbo4lRe54BIJjwnRrAAAAu0lEQVR4nO3Y21ECABAEweMhoAjmn61RUDBX3RHs/O4cdpp3D3gRXS26WnS16GrR1aKrRVeLrhZdLbpa5rLTXHea4066WnS16GrR1aKrRVeLrhZdLbpa1nbddprvnea0k64WXS26WnS16GrR1aKrRVeLrpa1/8bPTnPfab520tWiq0VXi64WXS26WnS16GrR1TK/O81jpznvpKtFV4uuFl0tulp0tehq0dWiq0VXyzx3mr+dBgAAAICP9A/RdloU+NA1mAAAAABJRU5ErkJggg==" alt="user-image"
          class="rounded-circle"> -->
        <b><span style="color: white">
            {{ currentUser.user ? currentUser.user.username : '-'}} <i
              class="mdi mdi-chevron-down"></i>
          </span>
        </b>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown"
        aria-labelledby="profileDropdown" ngbDropdownMenu>
      

        <div class="dropdown-divider"></div>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item"
          (click)="logout()">
          <i class="remixicon-logout-box-line"></i>
          <span>Sair</span>
        </a>

      </div>
    </li>

    


  </ul>

  <!-- LOGO -->
  <div class="logo-box" style="display: flex; justify-content: center;">
    <a href="/" class="logo text-center">
      <span class="logo-lg">
        <img src="assets/images/logo-light.png" alt="" height="65">
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="55">
      </span>
      
    </a>
  </div>

  <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="field-2" class="control-label"> <i
              style="color: red">*</i></label>
          <ng-select style="width: 531px;" [(ngModel)]="selectedValue" bindLabel="descricao"
            placeholder="Selecione um Projeto" (change)="saveToLocalStorage(selectedValue)"
            [items]="listaProjetos"></ng-select>
        </div>
      </div>
    </div>
    <li>
      <button class="button-menu-mobile waves-effect waves-light"
        (click)="toggleMobileMenu($event)">
        <i class="fe-menu"></i>
      </button>
    </li>
  </ul>
</div>
<!-- end Topbar -->