.dndPlaceholder {
  min-height: 160px;
  border: 1px dashed #dee2e6;
  background-color: #f1f5f7;
}

.linhasTask {
  margin-bottom: 0px;
  //color: #972525;
  color: #3f3f3f;
}

.btn-verde {
  background-color: #ea2951;
}
