.column.width-10 {
  width: 10px;
}

.column.width-20 {
  width: 20px;
}
.column.width-30 {
  width: 30px;
}
.column.width-40 {
  width: 40px;
}
.column.width-80 {
  width: 80px;
}
.column.width-100 {
  width: 100px;
}
.column.width-150 {
  width: 150px;
}

::ng-deep table.dataTable td.dataTables_empty {
  font-size: 0;
  padding: 0;
  .tr & {
    font-size: 0;
    padding: 0;
  }
}

::ng-deep table.dataTable tr.odd {
  font-size: 0;
  padding: 0;
}

.empty {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid #111111 !important;
}

.iWarning {
  color: #ff0000bd;
}
