<div class="modal-header">
  <h4 class="modal-title">Andamento -> Concluido</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="field-2" class="control-label">Data Entrega</label>
        <input value="{{dados.dataEntrega}}" type="date" class="form-control"
          id="field-2" [(ngModel)]="dados.dataEntrega">
      </div>
    </div>

    <!-- <div class="col-md-6">
      <div class="form-group">
        <label for="field-2" class="control-label">Avaliação</label>
        <input type="date" class="form-control" id="field-2"
          [(ngModel)]="dados.dataFinal">
      </div>
    </div> -->
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="field-2" class="control-label">Comentario</label>
        <input type="date" class="form-control" id="field-2"
          [(ngModel)]="dados.dataFinal">
      </div>
    </div>
  </div> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary waves-effect"
    (click)="modal('Cross click')"><i class="fas fa-eraser"></i> Limpar</button>
  <button type="button" class="btn btn-vermelho waves-effect waves-light"
    (click)="moverCard(dados.dataEntrega, dados.unidade)"><i
      class="fas fa-cloud-upload-alt"></i> Salvar</button>
</div>